*{
    
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #545354;
    padding: 2rem 3rem;
}
header a{
    color:#545354;
}
.container{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 25rem); 
  row-gap: 20px;
}
.item{
    border: 3px solid #dcd8dc ;
    box-shadow: #545354;
    width: 20rem;
    height: 10rem;
    margin-left: 10rem;
    padding-left: 1rem;
    padding-top: 1rem;
    box-shadow: 0px 0px 44px -16px rgba(143,139,143,0.32);
    font-size: 14px;
}
.item h4{
    color: blue;
}
.item2-header{
    color: green !important;
}
footer{
    height: 140px;
    width: 95%;
    margin: auto;

    margin-top: 15PX;
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: rgba(143,139,143,0.32);
    border: 3px solid red ;


}
footer i{
    padding-top: 70px;
    padding-left: 20px;
}
@media screen and (max-width: 1024px) {
    header{
   justify-content: space-between;
   padding: 2rem 7rem;

    }
    .container {
      grid-template-columns: 1fr 1fr; 

    }
    .item{
        margin-left: 7rem;
    }
  }
@media screen and (max-width: 768px) {
    body{
        font-size: 12px;
       }
       .item{
        border: 3px solid #dcd8dc ;
        box-shadow: #545354;
        width: 20rem;
        height: 10rem;
        margin-left: 10rem;
        box-shadow: 0px 0px 44px -16px rgba(143,139,143,0.32);
    }
       header{
        padding: 2rem 1rem;
     
         }
    .container {
        grid-template-columns:1fr 1fr;
      }
      .item{
        margin-left:1rem;
      }
      .item a{
        display: inline-block;
        padding-top: .5rem !important;
    }
    .item2 a{
        display: inline-block;
        padding-bottom: -.5rem !important;   
    }
}
@media screen and (max-width: 480px) {
   header{
    justify-content:space-around;
    padding: 2rem 0rem;
 
     }
   .container {
    grid-template-columns:0fr;
  }
    .item{
        margin-left:4rem;
      }
  }
  @media screen and (max-width: 375px) {
    .item{
        margin-left:2rem;
      }
  }